#==============================================================================
# GITHUB RUNNER ENVIRONMENT
#==============================================================================

#==============================================================================
# RUNNER CREDENTIAL FILE
#==============================================================================

GITHUB_TOKEN_FILE=./secrets/github-token

#==============================================================================
# RUNNER REGISTRATION TARGET
#==============================================================================

GITHUB_SCOPE=repo
GITHUB_TARGET=owner/github-pipeline-templates
GITHUB_API_URL=https://api.github.com
GITHUB_RUNNER_BIND_ADDRESS=127.0.0.1
RUNNER_LOCATION_LABEL=oci-platform
RUNNER_NAME_PREFIX=bharathcloudops-oci-platform
RUNNER_ORGANISATION_LABEL=bharathcloudops

#==============================================================================
# RUNNER IMAGE
#==============================================================================

GITHUB_RUNNER_VERSION=2.337.0
