#==============================================================================
# RUNNER HEALTH TIMER
#==============================================================================

#==============================================================================
# UNIT IDENTITY
#==============================================================================

[Unit]
Description=Check GitHub runner health every minute

#==============================================================================
# HEALTH SCHEDULE
#==============================================================================

[Timer]
OnBootSec=5m
OnUnitInactiveSec=1m
AccuracySec=15s
Unit=github-runner-health.service

#==============================================================================
# TIMER INSTALLATION
#==============================================================================

[Install]
WantedBy=timers.target
