#==============================================================================
# RUNNER METRICS EXPORT TIMER
#==============================================================================

#==============================================================================
# UNIT IDENTITY
#==============================================================================

[Unit]
Description=Export GitHub runner status every thirty seconds

#==============================================================================
# EXPORT SCHEDULE
#==============================================================================

[Timer]
OnBootSec=1m
OnUnitInactiveSec=30s
AccuracySec=5s
Unit=github-runner-metrics.service

#==============================================================================
# TIMER INSTALLATION
#==============================================================================

[Install]
WantedBy=timers.target
